<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkrPfqJO1JizQ_HXlbQCm6sxK1K3an2bY</string>
	<key>GCM_SENDER_ID</key>
	<string>18438389694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoList</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-836d7</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-836d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18438389694:ios:bd08e5fe2ce8e8019ec3ef</string>
</dict>
</plist>